.DS_Store
node_modules
/dist
note.md
index0.html
index0.js
ethereumjs-tx-1.3.3.min.js
web3.min.js

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
